.biz-index-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;

  .biz-container {
    display: flex;
    max-width: 1000px;
    margin: 10px;
    align-items: center;
    justify-content: center;

    .biz-pic {
      width: 200px;
      height: 150px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        max-height: 150px;
      }
    }

    .info-container {
      padding: 20px;
      width: 350px;

      .biz-cat{
        margin-bottom: 5px;
        border-bottom: 1px solid #dddddd;
      }

      a {
        // text-decoration: underline;
        font-size: 25px;
      }
    }
  }
}