.biz-index-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;

  .biz-container {
    display: flex;
    max-width: 1000px;
    margin: 10px;
    align-items: center;
    justify-content: center;

    .biz-pic {
      width: 200px;
      height: 150px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        max-height: 150px;
      }
    }

    .biz-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .review-avg-star-rating {
      display: flex;
      align-items: flex-end;
    }

    i {
      margin: 0px;
      padding: 0px;
      font-size: 20px;
      color: #dddddd;
    }

    .checked {
      color: orange;
    }

    .half {
      font-size: 21px;
    }

    .biz-num-review {
      padding-left: 10px;
      font-size: 14px;
    }
  }

    .info-container {
      padding: 20px;
      width: 350px;

      .biz-cat{
        margin-bottom: 5px;
        border-bottom: 1px solid #dddddd;
      }

      a {
        // text-decoration: underline;
        font-size: 25px;
      }
    }
  }
}

.no-result {
  font-size: 16px;
  margin: 20px;
}

.no-result-key {
  color: red;
  font-weight: bold;
}

#googleMapMarker {
  color: red;
}