// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////
// CSS for nav bar//
///////////////////

.nav-bar-menu {
  height: 40px;
  background-color: #dddddd;
}

///////////////////////////////////
//css for main content container//
///////////////////////////////////

.biz-info-container {
  // position: relative;
  display: flex;
  margin: auto;
  max-width: 1000px;
  font-size: 13px;
  text-decoration: none;
}

.biz-info-container i {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  color: #707070;
}

//////////////////////////////////
//css for left content container//
//////////////////////////////////

.biz-sub-left {
  width: 66.66%;
  min-width: 440px;
  margin-left: 15px;
  padding: 15px;
}

.biz-quick-info {
  border-bottom: 1px solid #dddddd;

  div {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .biz-name {
    font-size: 30px;
    font-weight: bold;
  }
  
  .biz-rating-container {
    display: flex;
    flex-direction: row;

    .biz-star-rating {
      margin-right: 5px;
    }
  }
  
  .biz-general-info {
    display: flex;
    flex-direction: row;

    div {
      margin-right: 10px;
    }
  }

  .biz-social-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      margin-right: 10px;
    }
  }
}

.biz-loc-hrs-header {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.biz-loc-hrs-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;

  .biz-loc-container {
    width: 55%;
    border: 1px solid #dddddd;
    border-radius: 5px;

    .biz-map {
      width: auto;
      height: 150px;
      background-color: green; 
    }

    .biz-address {
      padding: 10px;
    }
  }

  .biz-hrs-container {
    width: 45%;
    padding-left: 10px;

    div {
      display: flex;

      .biz-day {
        min-width: 45px;
        font-weight: bold;
      }
    }
  }
}

.startReviewSection {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.biz-comments-container {

  .biz-review-form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;

    a {
      font-weight: bold;
      transition-delay: .4s;
      cursor: pointer;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      input[type="submit"] {
        margin: 5px;
        padding: 5px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        transition-duration: 0.4s;
        background-color: #de351b;
        color: white;
      }

      input[type="submit"]:hover {
        background-color: rgb(27, 233, 205);
        color: black;
      }

      input:focus {
        box-shadow: 0px 0px;
      }

    }

    textarea {
      resize: none;
      width: 95%;
      padding: 10px;
      border: .5px solid #dddddd;
      border-radius: 5px;
    }

  }

  .biz-comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;

    .biz-comment-user {
      width: 30%;
      // background-color: bisque;
      margin-left: 5px;
    }

    .biz-comment-body-container {
      width: 70%;
      padding-left: 10px;
      display: flex;
      flex-direction: column;

        div {
          margin: 6px 0px 6px 0px;
        }

        .review-star-rating {
          align-items: flex-start;
          margin: 0px;

          i {
          margin: 0px;
          padding: 0px;
          font-size: 18px;
          color: #dddddd;
          }

          .checked {
            color: orange;
          }
        }

    }
  }
}

///////////////////////////////////
//css for right content container//
///////////////////////////////////

.biz-sub-right {
  position: relative;
  width: 33.33%;
  min-width: 245px;
  margin-right: 15px;
  padding: 15px;
}

.biz-static-info-container {
  position: sticky;
  top: 15%;
  // left: 0%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 6px;

  div {
    display: flex;
    align-items: center;
    
    div {
      display: flex;
      align-items: flex-start;
    }
  }

  .biz-address {
    display: flex;
    flex-direction: column;
  }

  .biz-url-container, .biz-phone-container, .biz-address-container, .biz-known-for-container {
    border-bottom: 1px solid #dddddd;
    padding: 14px 11px 11px 11px;
  }

  #biz-known-for-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;

    div {
      margin-bottom: 5px;
    }
  }
}

//////////////////////////////////
//css for biz show page buttons //
//////////////////////////////////

.btn-biz-show {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  
  i {
    width: 18px;
    height: 18px;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-biz-show:hover {
  background-color: #ebebeb;
}

.btn-write-review {
  color: red;

  i {
    color: red;
  }
}