.search-form-container {
  width: 60vw;
  display: flex;
  flex-direction: row;

  .search-fields {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;

    .live-result {
      display: none;
      z-index: 100;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid #d4d4d4;
      border-top: none;
      border-bottom: none;
      background-color: #858383;
      color: #000000;
    }

    .live-result div {
      padding: 10px;
      cursor: pointer;
      background-color: #e9e9e9;
      border-bottom: 1px solid #d4d4d4;
    }

    .live-result div:hover {
      background-color: #858383;
    }

    .search-title {
      color: #666666;
      font-weight: bold;
      margin: 10px;
    }

    .search-holder {
      font-size: 20px;
      border: 1px solid #dddddd;
      height: 20px;
    }

    input[type='text'] {
      width: 50%;
      z-index: 1;

      font-size: 16px;
    }

    input:focus {
      outline: none;
      box-shadow: 0px 0px;
    }

    select {
      font-size: 16px;
      width: 50%;
      cursor: pointer;
    }
  }

  .search-submit {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 52, 52);
    cursor: pointer;
    z-index: 1;

    input[type='submit'] {
      display: none;
    }

    i {
      font-size: 24px;
    }
  }
}
