// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-login-top {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 52, 52);
}


.login-form-container {
  width: 800px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  // background-color: black;
}

.login-form-subcontainer {
  width: 300px;

  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  // background-color: rgb(4, 141, 141);
}

.login-form-header {
  width: 100%;
  display: flex;
  margin-top: 200px;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.login-form-subheader {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  font-size: 15px;
}

input {
  width: 278px;
  height: 20px;
  padding: 5px 9px;
  margin-bottom: 7px;
  border-radius: 5px;
}

#btn-session-login{
  width: 100%;
  height: 30px;
  background-color: rgb(212, 52, 52);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

#btn-session-login:hover {
  background-color: rgb(230, 115, 115);
  color: white;
}

#btn-demo-login{
  width: 100%;
  height: 30px;
  background-color: rgb(212, 52, 52);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

#btn-demo-login:hover {
  background-color: rgb(230, 115, 115);
  color: white;
}

#btn-login-signup {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(105, 59, 212);
  font-weight: bold;
  cursor: pointer;
}

#btn-login-signup:hover {
  text-decoration: underline;
}

// .welcome-illustration-container {
//   background-color: aqua;
//   width: 400px;
//   padding-top: 200px;
//   margin-left: 50px;
//   display: flex;
//   justify-content: center;
//   content: url(../../images/yelp.png);
//   // background-image: url(../../images/yelp_signup_illustration.png);

// }

.login-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 7px;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(212, 52, 52);
  font-size: 13px;
  font-weight: bold;
}

.wrapper-line {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  text-align: center;
  margin: 20px 0px;
}

.wrapper-line legend {
  padding: 0 15px;
  margin: 0 auto;
}