// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
}

.login-form-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
}